<a routerLink="/user-profile" class="bon">
  <button class="btn btn-dark bt">P</button>
  {{'Status.Profile'| translate }}</a>
<h4><marquee>{{'Status.Welcome'| translate }} <span style="color: rebeccapurple">{{userName}}</span>!!</marquee></h4>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>