.bt {
  color: #efefef;
  background-color: indigo;
  border-radius: 20px;
  margin-left: 20px;
}

.bt2 {
  background-color: lightgray;
  border-radius: 50%;
  border: solid white;
}

.bon {
  color: black;
  text-decoration: none;
}

.profile {
  margin-right: 50px;
  //margin-top: 15px;
}

.upper {
  background-color: lightgray;
}

.myName {
  text-align: center;
}

.avatar {
  position: center;
}

.wrapper{
  position: absolute;
  margin-top: 210px;
  transform: translate(-50%,-50%);
  width: 450px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: linear-gradient(to right,gray,lightgray);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 50%;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
  font-size: 16px;
}

.wrapper .left p{
  font-size: 16px;
}

.wrapper .left .data button{
  margin-top: 250px;
  font-size: 14px;
  color: white;
  background-color: red;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 10px;
  margin-bottom: 0px;
  color: #919aa3;
}

.wrapper .social_media ul{
  display: flex;
}

.wrapper .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,gray,gray);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}

.edit{
  background-color: indigo;
  color: white;
  width: 6rem;
}


.changePassword {
  cursor: pointer;
}

.changePassword h4 {
  font-size: 16px;
}

.logout-button {
  margin-top: 250px;
}

.logout-button button {
  border-radius: 5px;
  padding: 7px;
  color: white;
  background-color: red;
  border: 0;
}

.image{
  border-radius: 400rem;
  width: 7.9rem;
  height: 8rem;
  margin-left: 10rem;
  margin-top: 1rem;
}
