.bt {
  color: #efefef;
  background-color: indigo;
  border-radius: 20px;
  margin-left: 20px;
}

.bon {
  color: black;
  text-decoration: none;
}

.profile {
  margin-right: 50px;
  margin-top: 15px;
}

