<div class="row ">
  <div class="col-md-1">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-10">
    <div style="text-align: right">
      <app-status></app-status>
    </div>

<div class="container">
  <div class="col-md-9">

    <h4>{{'UsersArticle.Pay'| translate }}</h4><br>
    <br>

    <div class="row do">
      <div class="col-md-4">
        <b>{{'UsersArticle.Book'| translate }} </b>
      </div>

      <!-- <div class="col-md-3">
        <b>Book Description</b>
      </div> -->

      <div class="col-md-3">
        <b>{{'UsersArticle.Contributor'| translate }}</b>
      </div>

      <div class="col-md-4">
        <b>Action</b>
      </div>
    </div>

    <div class="table" *ngFor="let userPA of userPaidArticles">
      <div class="row">
        <div class="col-md-3">
          <a>{{userPA.title}}</a><br>
        </div>

        <!-- <div class="col-md-3">
          <a>This book falls on the computer science and engineering category talking about c++ programming.</a><br>
        </div> -->

        <div *ngFor="let contributor of userPA.contributors" class="col-md-3 art">
          <a>{{contributor.name}}</a><br>
        </div>

        <div class="col-md-3">
          <tr><button class="btn btn-dark but"><i class="fas fa-download"></i> {{'UsersArticle.Download'| translate }}</button>&nbsp;&nbsp;&nbsp;&nbsp;
<!--            <button class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete </button>-->
          </tr>
        </div>
      </div>

  </div>
</div>
  </div>
</div>
