@import "../../Abstract/mixins";

.but{
  background-color: indigo;
}
.table {
  background-color: white;
  border-radius: 30px;
  text-align: center;

  @include respond(phone) {
    width: 90%;
    margin: 0 auto;
    border-radius: 0;
  }
}
th td tr{
  border-radius: 30px;
}
tr{
  background-color: #eaeaea;
}
th
{
  text-align: center;
  background-color: white;
}
td{
  text-align: center;
  padding: 20px;
}

button {
  width: 80px;
  padding: 2px;
}

@media (max-width: 765px) {
  h4 {
    margin-left: 50px;
  }
}

button {
  padding: 2px;
  font-size: smaller;
}

.buy-more {

  @include respond(phone) {
    text-align: center;
  }
}

.paid-articles {

  @include respond(phone) {
    text-align: center;
  }
}
