<div class="row">
  <div class="col-md-2 " >
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-md-10" >
    <div style="text-align: right; margin-top: 10px">
      <app-status></app-status>
    </div>


<div class="col-md-9">

    <h5 class="paid-articles">{{'UsersArticle.Pay'| translate }}</h5><br>
  <h5 class="form-text" *ngIf="!userPaidArticles?.length">Oops!! You haven't bought any articles yet.
    <a style="text-decoration: none"
      routerLink="/"> Buy an article <i
      class="fas fa-arrow-circle-right"></i></a></h5>

  <table class="table table-borderless table-responsive" *ngIf="userPaidArticles?.length">
    <thead>
    <tr>
      <th scope="col"><b>{{'UsersArticle.Book'| translate }} ({{number}})</b></th>
      <th scope="col">Categories</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let userPA of userPaidArticles| paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };">
    <br>
    <tr >
      <td>{{userPA.title}}</td>
      <td>{{userPA.categoryName}}</td>
      <td>
        <button class="btn btn-dark but" (click)="view(userPA.id, userPA.document)">View</button>&nbsp;
      </td>

    </tr>
    </tbody>
  </table>

  <pagination-controls
    *ngIf="userPaidArticles.length"
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>
  <div *ngIf="userPaidArticles.length">
    <br>
    <p class="buy-more"><a style="text-decoration: none" class="goBack"   (click)="back()">Buy more articles <i
      class="fas fa-arrow-circle-right"></i></a>
    </p>
  </div>
  </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait.</p>
</ngx-spinner>

