.but{
  background-color: indigo;
}
.table {
  background-color: white;
  border-radius: 30px;
  text-align: center;
}
th td tr{
  border-radius: 30px;
}
tr{
  background-color: #eaeaea;
}
th
{
  text-align: center;
  background-color: white;
}
td{
  text-align: center;
  padding: 20px;
}

button {
  width: 80px;
  padding: 2px;
}

@media (max-width: 765px) {
  h4 {
    margin-left: 50px;
  }
}

//.table {
//  margin-top: 50px;
//  height: 70px;
//  background-color: #eaeaea;
//  border-radius: 7px;
//  padding-top: 20px;
//}

button {
  padding: 2px;
  font-size: smaller;
}

//}

