<div class="row">
  <div class="col-md-2 " >
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-md-10" >
    <br>
    <div style="text-align: right">
      <app-status></app-status>
    </div>

<div class="col-md-9">

    <h4>{{'UsersArticle.Pay'| translate }}</h4><br>
    <br>

  <table class="table table-borderless table-responsive" >
    <thead>
    <tr>
      <th scope="col"><b>{{'UsersArticle.Book'| translate }} ({{number}})</b></th>
      <th scope="col">Categories</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let userPA of userPaidArticles">
    <br>
    <tr >
      <td>{{userPA.title}}</td>
      <td>{{userPA.categoryName}}</td>
      <td>
        <button class="btn btn-dark but" (click)="view(userPA.id, userPA.document)">View</button>&nbsp;
      </td>

    </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>
