<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-family: 'Brush Script MT'; font-size: 23px;color: indigo">Blog Web Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">{{'Navbar.Home'| translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/about">{{'Navbar.About'| translate }}</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="/signup"><button class="btn btn-outline-primary"
              *ngIf="!tokenStorage.getToken1()">{{'Navbar.SignUp'| translate }}</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/login"><button class="btn btn-outline-info"
              *ngIf="!tokenStorage.getToken1()">{{'Navbar.Login'| translate }}</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/users-article"><button class="btn btn-outline-info"
              *ngIf="tokenStorage.getToken1()">{{'Navbar.Dashboard'| translate }}</button></a>
        </li>
      </ul>

    </div>
  </div>
</nav>
