.row
{
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 10px;

}
.image
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url('/../../../assets/blog.JPG');
  border-top-left-radius:10px ;
  border-bottom-left-radius:10px ;
}
form
{
  padding: 15px;
}
input{
  border-radius: 10px;
  border: 1px solid darkgrey;
}
.button
{
  text-align: center;
}
button
{
  width: 350px;
  background-color: darkblue;
  box-shadow: 1px 2px 3px;
  border-radius: 20px;
}
