.main
{
  box-shadow: 1px 2px 4px gray;
  margin-left: 150px;
  margin-right: 150px;
  margin-left: 100px;
  margin-right: 70px;
  border-radius: 10px;
  padding: 25px;

}
.image
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url('/../../../assets/blog.JPG');
  border-top-left-radius:10px ;
  border-bottom-left-radius:10px ;
}

input {
  border-radius: 5px;
  border: 1px solid darkgrey;
}
select{
  border-radius: 5px;
  border: 1px solid darkgrey;
}
textarea{
  border-radius: 5px;
  border: 1px solid darkgrey;
}
.button
{
  text-align: center;
}
button
{
  width: 350px;
  background-color: indigo;
  box-shadow: 1px 2px 3px;
  border-radius: 20px;
}
input.ng-invalid.ng-touched {
  border: 2px solid red;
}
select.ng-invalid.ng-touched
{
  border: 2px solid red;
}
textarea.ng-invalid.ng-touched
{
  border: 2px solid red;
}
