<div class="row">
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>

<div class="col-md-10">
  <br>
  <div style="text-align: right">
    <app-status></app-status>
  </div>
<div class="container">

      <div class="card" style="width: 50rem;">
        <h4 class="card-header" style="text-align: center">{{'PublishArticle.Publish'| translate }}</h4>
        <div class="card-body">
          <form [formGroup]="publish" (submit)="onSubmit(publish.value.category)">
            <label>{{'PublishArticle.Title'| translate }}</label>
            <input type="text" placeholder="{{'PublishArticle.placeholderT'| translate }}" class="form-control" formControlName="title">
            <span *ngIf="f.title.invalid && f.title.touched" class="form-text"> {{'PublishArticle.Field'| translate }}</span>
            <br>
            <label>{{'PublishArticle.Abstract'| translate }}</label>
            <quill-editor [styles]="{height: '150px', backgroundColor: 'white'}" theme="snow" formControlName="articleAbstract"></quill-editor>
            <span *ngIf="f.articleAbstract.invalid && f.articleAbstract.touched" class="form-text"> {{'PublishArticle.Field'| translate }}</span>
            <br>
            <label>{{'PublishArticle.Content'| translate }}</label>
            <quill-editor [styles]="{height: '150px', backgroundColor: 'white'}" theme="snow" formControlName="toc"></quill-editor>
            <span *ngIf="f.toc.invalid && f.toc.touched" class="form-text"> {{'PublishArticle.Field'| translate }}</span>
            <br>
            <label>{{'PublishArticle.Contributor'| translate }}</label>
            <input type="text" placeholder="{{'PublishArticle.placeholderC'| translate }}" class="form-control" formControlName="contributors">
            <span *ngIf="f.contributors.invalid && f.contributors.touched" class="form-text"> {{'PublishArticle.Field'| translate }}</span>
            <br>
            <div class="row">
              <div class="col-md-6">
                <label >{{'PublishArticle.Category'| translate }}</label>
                <select class="form-control form-select" formControlName="category" >
                  <option [selected]="category.name" *ngFor="let category of categories"  value="{{category.id}}">{{category.name}}</option>
                </select>
                <span *ngIf="f.category.invalid && f.category.touched" class="form-text"> {{'PublishArticle.Field'| translate }}</span>
              </div>

              <div class="col-md-6">
                <label>{{'PublishArticle.Price'| translate }}(frs)</label>
                <input type="number" placeholder="{{'PublishArticle.placeholderP'| translate }}" class="form-control" formControlName="price">
                <span *ngIf="f.price.invalid && f.price.touched" class="form-text"> {{'PublishArticle.Field'| translate }}</span>
                <span *ngIf="negative" class="form-text" style="color: red">Negative price is not allowed</span>
              </div>
            </div>

            <br>
            <div class="button" > <button  class="btn btn-primary butt" data-bs-toggle="modal" data-bs-target="#exampleModal" [disabled]="publish.invalid">{{'PublishArticle.Upload'| translate }}</button></div>

          </form>
        </div>
      </div>
    </div>
</div>
        </div>


      <br>


<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="!error">
  <div class="modal-dialog">
    <div class="modal-content" >

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'PublishArticle.Upload1'| translate }}</h5>
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
      </div>
      <div class="modal-body">
            <label >{{'PublishArticle.Upload2'| translate }}</label>
            <input type="file"  accept="image/x-png,image/jpg,image/jpeg" (change)="select($event)" enctype="multipart/form-data" class="form-control" >
<br>
            <label >{{'PublishArticle.Upload3'| translate }}</label>
            <input type="file" accept="application/pdf"  (change)="select1($event)" enctype="multipart/form-data" class="form-control">

      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-primary upload"  [disabled]="error || negative"  (click)="upload()" >{{'PublishArticle.Publish1'| translate }}</button>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait.</p>
</ngx-spinner>

  <br>

