@import "../../Abstract/mixins";

.card
{
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
  border-radius: 10px;
  padding: 25px;
  max-width: 100%;

 @include respond(phone) {
   box-shadow: none;
   border-radius: 0;
   margin: 0 auto;
   max-width: 90%;
   padding: 0;
 }

}

input {
  border-radius: 5px;
  border: 1px solid darkgrey;
}
select{
  border-radius: 5px;
  border: 1px solid darkgrey;
}
textarea{
  border-radius: 5px;
  border: 1px solid darkgrey;
}
.button
{
  text-align: center;
}
.butt
{
  width: 100%;
  background-color: indigo;
  box-shadow: 1px 2px 3px;
  border-radius: 20px;
}
.alert{
  width: 70%;
}
input.ng-invalid.ng-touched {
  border: 2px solid red;
}
select.ng-invalid.ng-touched
{
  border: 2px solid red;
}
quill-editor.ng-invalid.ng-touched
{
  border: 2px solid red;
}
.upload
{
  width: 200px;
  background-color: indigo;border-radius: 15px;
}

@media (max-width: 600px){
  .card {
    margin-left: 40px;
  }
}
