.image{
  height: 600rem;
}
.form-items{
  margin-left: 3rem;
  align-items: center;
  width: 21rem;
  height: 28rem;
}
.form-content{
  background-color: white;
}
.row{
  padding-top: 4rem;
  background-color: white;
  border-radius: 50rem;
}
.signup{
  background-color: indigo;
  color: white;
  width: 25rem;
}
h3{
  text-align: center;
}
p{
  text-align: center;
}
.container {
  margin-top: 50px;
  width: 70%;
}

.container .left {
  margin: 0;
  padding: 0;
  float: left;
  width: 50%;
  height: 30%
}

.container .right {
  padding-top: 0;
  margin: 0;
  float: right;
  width: 50%;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
}
.btn-cl{
  background-color: indigo;
  width: 20rem
}
