<div *ngIf="errorMessage != ''" class="alert alert-danger errorMessage" role="alert">
  <h4>{{ errorMessage }}</h4>
</div>
<div class="container main">
  <div class="left">
    <img src="../../../assets/signup.png">
  </div>

  <div class="right">
    <div class="register-form" style="margin-top: 0;">
      <div class="col-sm-10">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-items">
          <h5 style="font-size: 16px;"><b>{{'Signup.Account'| translate }}</b></h5>
          <div class="form-group">
            <label>{{'Signup.Name'| translate }}</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">{{'Signup.Required'| translate }}</div>
            </div>
          </div>
          <div class="form-group">
            <label>{{'Signup.Email'| translate }}</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">{{'Signup.ERequired'| translate }}</div>
              <div *ngIf="f.email.errors.email">{{'Signup.Invalid'| translate }}</div>
            </div>
          </div>

          <div class="form-group">
            <label>{{'Signup.Password'| translate }}</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">{{'Signup.PRequired'| translate }}</div>
              <div *ngIf="f.password.errors.minlength">
                {{'Signup.Password1'| translate }}
              </div>
              <div *ngIf="f.password.errors.maxlength">
                {{'Signup.Username'| translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <br/>
            <label>{{'Signup.Role'| translate }}</label>
            <select id="selectRole"
              [(ngModel)]="role"
              class="form-select mt-3"
              required formControlName="role">
              <option value="READER">{{'Signup.Reader'| translate }}</option>
              <option value="PUBLISHER">{{'Signup.Publisher'| translate }}</option>
            </select>

          </div>
          <br>
          <div class="form-group" *ngIf="toggleTextBox()">
            <label>Enter reasons for becoming a publisher</label>
            <textarea rows="1" cols="40" class="form-control" formControlName="reason"></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-cl">{{'Signup.Account'| translate }}</button>
          </div>
          <h5>{{'Signup.Account1'| translate }} &nbsp; <a routerLink="/login">{{'Signup.Login'| translate }}</a></h5>
        </form>
      </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait.</p>
  </ngx-spinner>
</div>
