.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../../../assets/im.jpg');


}
.container
{
  padding-top: 180px;
}
.span {
  font-size: 25px;
  font-family: Centaur;
}

h3
{

  color: indigo;
}