<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>About Us</h3>
      <span class="span">Blog web application is a platform that enables users get access to useful resources,</span>
      <span class="span"> and also give publishers the opportunity to showcase their work to the world.</span>
      <p class="span">It is a site for knowledge sharing.</p>
      <br>
      <button class="btn btn-outline-primary" routerLink="/">Get started now</button>
    </div>
    <div class="col-md-6 bg">

    </div>
  </div>


</div>
<br>
<app-footer></app-footer>