.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/../../../assets/im.jpg');


}
.container
{
  padding-top: 180px;
}
.span {
  font-size: 25px;
  font-family: Centaur;
}

h3
{

  color: indigo;
}
.footer
{
  padding: 10px;
  padding-left: 20px;
  margin-top: 50px;
  background-color: rgba(0, 0,0,0.8);
  color: white;
}
.about
{
  margin-top: 100px;
}
.foot
{
  text-align: center;
  background-color: black;
  padding: 10px;
}
.p
{
  color: white;
}
.blog
{
  color: crimson;
}
.us{
  text-align: center;
}
.input-size
{
  height: 39px;
}
.btn-outline-primary
{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-bottom: 5px;
}
.footer a{
  color: white;
  text-decoration: none;
}
