<div class="row d">
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-5">
    <app-status></app-status>
  </div>
</div>

<div class="container">
  <div class="col-md-9">

    <div class="row">
      <div class="col-md-3">
        <b>Pending Publishers (03)</b>
      </div>

      <div class="col-md-3 em">
        <b>Email</b>
      </div>

      <div class="col-md-3 em">
        <b>Action</b>
      </div>
    </div>

    <div *ngFor="let p of publishers" class="table">
      <div class="row">
        <div class="col-md-4">
          <a>{{p.name}}</a><br>
        </div>

        <div class="col-md-3">
          <a>{{p.email}}</a><br>
        </div>

        <div class="col-md-4">
          <tr><button class="btn btn-dark but" (click)="approvePublisher(p.id)">Accept</button>&nbsp;&nbsp;
            <button class="btn btn-danger"> Decline</button></tr>
        </div>
      </div>
    </div>

  </div>
</div>
