<div class="container">
  <div class="col-md-9">

    <div class="row">
      <div class="col-md-3">
        <b>Pending Publishers (03)</b>
      </div>

      <div class="col-md-3 em">
        <b>Email</b>
      </div>

      <div class="col-md-3 em">
        <b>Action</b>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-md-4">
          <a>Publisher one</a><br>
        </div>

        <div class="col-md-3">
          <a>Email one</a><br>
        </div>

        <div class="col-md-4">
          <tr><button class="btn btn-dark but">Accept</button>&nbsp;&nbsp;
            <button class="btn btn-danger"> Decline</button></tr>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-md-4">
          <a>Publisher two</a><br>
        </div>

        <div class="col-md-3">
          <a>Email two</a><br>
        </div>

        <div class="col-md-4">
          <tr><button class="btn btn-dark but">Accept</button>&nbsp;&nbsp;
            <button class="btn btn-danger"> Decline</button></tr>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-md-4">
          <a>Publisher one</a><br>
        </div>

        <div class="col-md-3">
          <a>Email one</a><br>
        </div>

        <div class="col-md-4">
          <tr><button class="btn btn-dark but art">Accept</button>&nbsp;&nbsp;
            <button class="btn btn-danger"> Decline</button></tr>
        </div>
      </div>
    </div><br>

  </div>
</div>
