<div *ngIf="errorMessage != ''" class="alert alert-danger errorMessage" role="alert">
    <h4>{{ errorMessage }}</h4>
</div>
<div class="container">
    <div class="left">
        <img src="../../../assets/login-logo.png" alt="Login logo">
    </div>
    <div class="right">
        <div class="col-sm-10">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h5>{{'Login.Account'| translate }}</h5>
                <br>
                <div class="mb-3">
                  <input
                       formControlName="email"
                       type="email"
                       class="form-control"
                       placeholder="{{'Login.placeholderE'| translate }}">
                </div>
                <span class="text-danger"
                                *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                                {{'Login.ERequired'| translate }}
                            </span>
                            <span class="text-danger"
                                *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                                {{'Login.Invalid'| translate }}
                            </span>
                <div class="mb-3">
                  <input
                       formControlName="password"
                       type="password"
                       class="form-control"
                       placeholder="{{'Login.PlaceholderP'| translate }}"
                       minlength="8">
                </div>
                            <span
                                class="text-danger"
                                *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required && registerFormControl.password.errors">
                                {{'Login.PRequired'| translate }}
                            </span>
                            <span class="text-danger"
                                  *ngIf="(registerFormControl.password.errors?.minlength)">
                                  {{'Login.Password1'| translate }}
                            </span>

                <span>{{'Login.Forgot'| translate }}</span>

                <div class="form-group">
                   <button type="submit" class="btn btn-primary">{{'Login.Login1'| translate }}</button>
                </div>
                <h6>{{'Login.Account1'| translate }} &nbsp; <a routerLink = "/signup">{{'Login.Signup'| translate }}</a></h6>
              </form>
        </div>
    </div>
</div>
