
.errorMessage {
  width: 50%;
  margin-left: 300px;
  height: 60px;
}

* {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 500px) {
  .container-fluid .row {
    margin-top: 50px;
    border-radius: 25px 25px 25px 25px;
    height: 72vh;

  }
  .registration__email_field {
    padding: 5px;
  }
  .registration__password_field {
    padding: 5px;
  }
  .container-fluid .registration__image {
    display: none;
  }
  .row {
    margin-right: 10px;
    margin-left: 10px;
  }
  .row .registration__form {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width:100%;
  }
}

.registration__button {
  width: 100%;
  margin-top:30px;
  margin-bottom: 20px;
  background-color: indigo;
  border-radius: 10px;
  color: white;
  padding: 5px;
}
.registration__forgot__password {
  //margin-top: 6px;
  //margin-bottom: 15px;
  text-align: right;
  font-size: small;
  color: indigo;
  font-weight: bold;
}
.registration__header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.registration__link {
  text-decoration: none;
  color: indigo;
  font-weight: bold;
}
.registration__label {
  font-weight:500;
}
.registration__email_field {
  padding: 5px;
}
.registration__password_field {
  padding: 5px;
}

.container-fluid {
  border-radius: 32px 32px 32px 32px;
}
.registration__card {
  border-radius: 32px 32px 32px 32px;
  box-shadow: 0 1px 2px rgba(158, 3, 132, 0.07),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
}
.registration__image img {
  border-radius:  32px 0 0 32px;
  width:100%;
}
.registration__form {
  margin-top:80px;
  padding-left:30px;
  padding-right:30px
}

.registration {
  margin-top: 5%;
}




























