.container {
    margin-top: 65px;
    width: 70%;
}

.container .left {
    padding: 0;
    margin: 0;
    width: 50%;
    float: left;
}

.container .left img {
    width: 100%;
    border-radius: 20px 0px 0 20px;

    box-shadow: 0 1px 2px rgba(158, 3, 132, 0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

.container .right {
    border-radius: 0 20px 20px 0;
    height: 86vh;
    padding: 0;
    width: 50%;
    float: right;

    box-shadow: 0 1px 2px rgba(158, 3, 132, 0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

.btn {
    width: 310px;
    background-color: indigo;
    margin-top: 20px;
    border-radius: 10px;
}

h5 {
    text-align: center;
}

.right .col-sm-10 form {
    margin-left: 60px;
    margin-top: 150px;
}

span {
    color: blue;
    float: right;
}