<div class="container">
    <div class="left">
        <img src="../../../assets/login-logo.png" alt="Login logo">
    </div>
    <div class="right">
        <div class="col-sm-10">
            <form>
                <h5>Login to your account</h5>
                <br>
                <div class="mb-3">
                  <input type="email" class="form-control" placeholder="Email address">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" placeholder="password">
                </div>

                <span>Forgot Password</span>

                <button type="button" class="btn btn-primary">Login</button>
              </form>
        </div>
    </div>
</div>