@import "../../Abstract/mixins";

.test {
  background-color: red;
  width: 100%;
  height: 300px;
}

.but{
  background-color: red;
}
.table {
  width: 80%;
  background-color: white;
  border-radius: 30px;
  text-align: center;

  @include respond(phone) {
    background-color: red;
    text-align: center;
}

}
th td tr{
  border-radius: 30px;
}
tr{
  background-color: #eaeaea;
  margin: 0 3px;
}
th
{
  text-align: center;
  background-color: white;
}
td{
  text-align: center;
  padding: 20px;
}

button {
  width: 80px;
  padding: 2px;
}