<app-sidebar></app-sidebar>

<div class="container">
  <div class="col-md-9">

    <div class="row">
      <div class="col-md-3">
        <b>Number of Users (03)</b>
      </div>

      <div class="col-md-3">
        <b>Email</b>
      </div>

      <div class="col-md-3">
        <b>Number of Articles</b>
      </div>

      <div class="col-md-3">
        <b>Action</b>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-md-3">
          <a>User one</a><br>
        </div>

        <div class="col-md-2">
          <a>Email one</a><br>
        </div>

        <div class="col-md-3 art">
          <a>One</a><br>
        </div>

        <div class="col-md-3">
          <tr><button class="btn btn-dark but">Suspend</button>&nbsp;&nbsp;
            <button class="btn btn-danger"><i class="far fa-ban icon"></i> Block</button></tr>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-md-3">
          <a>User two</a><br>
        </div>

        <div class="col-md-2">
          <a>Email two</a><br>
        </div>

        <div class="col-md-3 art">
          <a>Two</a><br>
        </div>

        <div class="col-md-3">
          <tr><button class="btn btn-dark but">Suspend</button>&nbsp;&nbsp;
            <button class="btn btn-danger"><i class="far fa-ban icon"></i> Block</button></tr>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-md-3">
          <a>User one</a><br>
        </div>

        <div class="col-md-2">
          <a>Email one</a><br>
        </div>

        <div class="col-md-3 art">
          <a>One</a><br>
        </div>

        <div class="col-md-3">
          <tr><button class="btn btn-dark but">Suspend</button>&nbsp;&nbsp;
            <button class="btn btn-danger"><i class="far fa-ban icon"></i> Block</button></tr>
        </div>
      </div>
    </div><br>

  </div>
</div>

