.profile{
  margin-left:20rem;
  margin-right: 10rem;
  padding-top: 0.25rem;
  //padding-bottom: 0.2rem;
  width: 40rem;
  height: 35rem;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
}
.image{
  border-radius: 400rem;
  width: 7.9rem;
  height: 8rem;
  margin-left: 10rem;
  margin-top: 1rem;
}
p{
  margin-left: 10rem;
  font-family: merriweather
  //margin-buttom: 0.5rem;
}
h4{
  margin-top: 2rem;
  margin-left: 10rem;
}
.edit{
  //position: center;
  margin-left: 31rem;
  background-color: indigo;
  color: white;
  width: 6rem;
}
.text-muted{
  padding-right: 7px
}
.text-mute{
  margin-left: 10rem;
  margin-right: 0.5rem;
}
.names{
  margin-right: 5rem;
}

