<app-sidebar></app-sidebar>
<!--<app-sidebar></app-sidebar>-->

<div class="col-xs-8">
  <br/>
  <div class="align-content-center profile">
    <h4>{{'UserProfile.Profile'| translate }}</h4>
    <img src="assets/avatar.png" class="image">
    <br/>
    <br/>
    <div class="form-group mb-4 mt-3 p">
      <label class="text-muted"><i class="fas fa-user fa-lg  text-mute"></i> {{'UserProfile.Name'| translate }} : </label>
      <span><label>{{userProfile.name}}</label></span>
    </div>
    <br/>
    <div class="form-group mb-4 p">
      <label class="text-muted"><i class="fas fa-envelope fa-lg  text-mute"></i>{{'UserProfile.Email'| translate }} : </label>
      <span><label>{{userProfile.email}}</label></span>
    </div>
    <br/>
    <div class="form-group mb-4 p">
      <label class="text-muted"><i class="fas fa-industry fa-lg text-mute"></i>{{'UserProfile.Role'| translate }} : </label>
      <span><label>{{'UserProfile.Publisher'| translate }}</label></span>
    </div>
    <br/>
    <div class="form-group mb-4 p">
      <label class="text-muted"><i class="fas fa-pen-nib fa-lg  text-mute"></i>{{'UserProfile.Article'| translate }} : </label>
      <span><label>2</label></span>
    </div>
    <div class="mb-4 col-md-4 d-grid gap-2">
      <div class="">
        <button class="btn btn-sm edit" data-bs-toggle="modal"
            data-bs-target="#editProfileModal">{{'UserProfile.Edit'| translate }}</button>
      </div>
    </div>
    <br/>
  </div>
</div>

<!-- Modal for edit user profile -->
<div
  class="modal fade"
  id="editProfileModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'UserProfile.Edit'| translate }}</h5>
        <button
          type="button"
          class="btn-close btn-sm "
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="usersEdit">
          <div class="form-group mb-2">
            <label>{{'UserProfile.Name'| translate }}</label>
            <input
              [(ngModel)] = "userProfile.name"
              id="firstName"
              type="text"
              class="form-control"
              required
              formControlName="firstName"
            />
          </div>
          <div class="form-group mb-2">
            <label>{{'UserProfile.Email'| translate }}</label>
            <input
              [(ngModel)] = "userProfile.email"
              [readonly]="true"
              id="email"
              type="text"
              class="form-control"
              required
              formControlName="email"
            />
          </div>
          <div class="d-flex justify-content-end">
            <button
              type="submit"
              class="btn  btn-sm btn-primary"
              data-bs-dismiss="modal">
              {{'UserProfile.Save'| translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>