<div class="row">
  <div class="col-md-2">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-md-10">
    <div class="align">
      <app-status></app-status>
    </div>

  <div class="col-md-8">
    <h5>{{'ViewTransactions.Details'| translate }}</h5>

    <br>
    <div >
      <p>{{'ViewTransactions.Motive'| translate }}: <small class="m-lg-5"> {{'ViewTransactions.Pay'| translate }}</small></p>
      <p>{{'ViewTransactions.Article'| translate }}: <small class="m-lg-5" *ngFor="let trans of transactions">{{ trans.nameOfArticle }}</small> </p>
      <p>{{'ViewTransactions.Date'| translate }}: <small class="m-lg-5" *ngFor="let trans of transactions">{{ trans.createdAt }}</small></p>
      <p>{{'ViewTransactions.ID'| translate }}: <small class="m-lg-5" *ngFor="let trans of transactions">{{ trans.id }}</small></p>
    </div>
  </div>
  </div>
</div>
