.bg
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url('/../../../assets/com.jpg');
  height: 550px;
  margin-top: 55px;
}
.color
{
  background-color: lavender;
  text-align: center;
}
.size
{
 width: 350px;
  border-radius: 15px;
  padding: 3px;
}


.col-md-2
{
  margin-left: 8px;
}

.footer
{
  padding: 10px;
  padding-left: 20px;
  background-color: rgba(0, 0,0,0.8);
  color: white;
}
.about
{
  margin-top: 100px;
}
.foot
{
  text-align: center;
  background-color: black;
  padding: 10px;
}
.p
{
  color: white;
}
.blog
{
  color: crimson;
}
.us{
  text-align: center;
}
.input-size
{
  height: 39px;
}
.btn-outline-primary
{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-bottom: 5px;
}
.auth
{
  padding: 10px;
}
.card
{

    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07),
    0 32px 64px rgba(0,0,0,0.07);
}
a{
  color:black;
  text-decoration: none;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
}


.group
{
  cursor: pointer;
}

