<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">Blog site</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=" ">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">About</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item boder">
          <input type="text" class="size" placeholder=" search articles..." [(ngModel)]="searchData" id="listSearch">

        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="/signup"><button class="btn btn-outline-primary"
              *ngIf="!tokenStorage.getToken1()">SignUp</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/login"><button class="btn btn-outline-info"
              *ngIf="!tokenStorage.getToken1()">Login</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/users-article"><button class="btn btn-outline-info"
              *ngIf="tokenStorage.getToken1()">Dashboard</button></a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="row color">
  <div class="col-md-4 about">
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <h2>Welcome to <span style="color: indigo"> Blog site</span></h2>
      <span>Publish your articles and books to the world.</span>
      <br>
      <span>View all kinds of articles or books. We have it all installed for you.</span>
      <br>
      <br>
      <hr>
      <button class=" btn btn-outline" style="color: indigo">View articles</button>
    </div>
  </div>
  <div class="col-md-8">
    <div class="bg"></div>

  </div>

</div>
<!--ALL ARTICLES DISPLAY-->
<div class="container-fluid">
  <div class="row text-center mt-5">
    <h2>
      All Articles and Books
    </h2>
  </div>
  <div class="row mt-5 articles">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title categories fw-bold">All Categories</h5>
          <div class="mt-2">
            <ol class="list-group">
              <li (click)="getArticlesByCategory(category.id)"  class="list-group-item d-flex justify-content-between align-items-start borderless" *ngFor="let category of categories">
                <div class="ms-2 me-auto">
                  <div>{{category.name}}</div>
                </div>
                <span><i class="fal fa-chevron-right"></i></span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3 mb-3" *ngFor="let article of allArticles | searchFilter: searchData">
          <div class="card"(click)="view(article.id)" >
            <img [src]="article.coverPage" class="card-img-top" alt="Article Cover Page">
            <div class="card-body">
              <h5 class="card-title title"> {{ article.title }}</h5>
              <p class="card-text date">{{article.createdAt |date:'fullDate'}} </p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-4 mb-5" *ngIf="allArticles.length > 0">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" aria-label="Previous" (click)="previous()" routerLinkActive="active"
                style="cursor: pointer;">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item " *ngFor="let number of pageNumberArray; let i = index">
              <a class="page-link " (click)="setPage(i, number)" style="cursor: pointer;">{{i}}<span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="page-item">
              <a class="page-link" aria-label="Next" (click)="Next()" routerLinkActive="active"
                style="cursor: pointer;">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>




<br>
<div class="auth">
  <h5>Our Authors</h5>
  <div class="row">
    <div class="col-md-3">
      <div class="card">

        <div class="card-body">
          <div>
            <h6>Author name</h6>
          </div>
          <span class="card-text form-text">email@gmail.com</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">

        <div class="card-body">
          <h6>Author name</h6>
          <span class="card-text form-text">email@gmail.com</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h6>Author name</h6>
          <span class="card-text form-text">email@gmail.com</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h6>Author name</h6>
          <span class="card-text form-text">email@gmail.com</span>
        </div>
      </div>
    </div>
  </div>

</div>

<br>
<div class="footer ">
  <div class="row">
    <div class="col-md-3">
      <h5>Quick links</h5>
      <a>View categories</a>
      <br>
      <a>View articles</a>
      <br>
      <a>Our authors</a>
      <br>
      <a>Signup</a>
    </div>
    <div class="col-md-3">
      <h5>Contact us</h5>
      <span>Whatsapp</span>
      <br>
      <span>Instagram</span>
      <br>
      <span>Twitter</span>
      <br>
      <span>LinkedIn</span>
      <br>
    </div>
    <div class="col-md-3">
      <span>About us</span>
      <p>FAQ</p>
    </div>
    <div class="col-md-3">
      <p>Terms</p>
      <p>Privacy</p>
      <h5>Subscribe to our newsletter</h5>
      <input placeholder=" enter email..." class="input-size"><button class="btn btn-outline-primary">Subscribe</button>
    </div>

  </div>


</div>
<div class="foot">
  <p class="p">Copyright @2022 All rights reserved. <span class="blog">Blog site</span></p>
</div>