@import "../../../app/Abstract/mixins";

.bg
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url('/../../../assets/com.jpg');
  height: 550px;
  margin-top: 55px;
}

.color
{
  background-color: lavender;
}

.color{
  background-color: lavender;
}

.size
{
 width: 350px;
  border-radius: 20px;
  padding-left: 10px;

}



.footer
{
  padding: 10px;
  padding-left: 20px;
  background-color: rgba(0, 0,0,0.8);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 40vh;
  margin-bottom: 0;
  
  
}
.footer-row {
  margin-top: 40px;
}
.foot {
  font-family: Arial, Helvetica, sans-serif;
}
.about
{
  margin-top: 100px;
}
.foot
{
  text-align: center;
  background-color: black;
  padding: 10px;
}
.p
{
  color: white;
}
.blog
{
  color: crimson;
}
.us{
  text-align: center;
}
.input-size
{
  height: 39px;
}
.btn-outline-primary
{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-bottom: 5px;
}
section
{
  margin-top: 30px;
  margin-bottom: 60px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.06),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
}
 
.article-card
{
    box-shadow: 0 1px 2px rgba(0,0,0,0.06),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07),
    0 32px 64px rgba(0,0,0,0.07);
    cursor: pointer;
    width: 100%;
   
}
.category-card {
  box-shadow: 0 1px 2px rgba(0,0,0,0.06),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
  cursor: pointer;
  width: 100%;
  font-weight: lighter;
  
}

 .avatar {
   box-shadow: 20;
 }

h6 {
  font-weight: bolder;
  padding-top: 7px;
}
.authors {
  position: relative;
  height: 65vh;
}
.popular-authors {
  padding-top: 15px;
}
.authors-name {
  margin-top: 55px;
  font-family: Arial, Helvetica, sans-serif;
}
.card-img-top {
 height: 25vh;
}

.notFoundArticles {
  text-align: center;
  width: 400px;
  margin-top: 50px;

  @include respond(tab-land) {
    max-width: 70rem;
  }

  @include respond(tab-port) {
    max-width: 50rem;
  }

  @include respond(phone) {
    max-width: 15rem;
  }

}

a{
  color:black;
  text-decoration: none;
}

h2 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: black;
}

.group
{
  cursor: pointer;
}

.categories {
  text-align: center;
}
.articles {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
.card {
  padding: 10;
}

.dropdown {
  cursor: pointer;
}


 
.list-group-item {
  border: none;
  padding: 3px;
}

.list-group-mine .list-group-item.active {
  background-color:black;
  color: white;
  
}
.list-group-mine .list-group-item:hover {
  background-color: rgb(212, 209, 209);
}
 

.title {
  font-weight: bolder;
  font-size: 15px;

}
.title:hover {
  color: indigo;
}
.date {
  font-size: 13px;
}

.pagination {
  padding: 3px;

} 

.publish {
  border-radius: 20px;
}
.publish:hover {
  color: white;

}
.footer a{
  color: white;
}
.image{
  border-radius: 400rem;
  width: 3.5rem;
  height: 3.5rem;
  
}

.whatsapp {
  padding-left: 10px;
}
.instagram {
  padding-left: 10px;
}

.twitter {
  padding-left: 10px;
}

.linkedIn {
  padding-left: 10px;
}

.quick-links {
  font-size: small;
  cursor: pointer;
}
.viewArticles {
  border-radius: 30px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: indigo;
  color: white;
}

.viewArticles:hover {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.welcome {
  text-shadow: 2px 1px white;
  color: indigo;
}
.blogSiteSpan {
  padding-left: 7px;
}

.cart {
  font-size: larger;
  color: black;
 
}
.totalArticles{
  background-color: indigo;
}
.cart-button {
  margin-right: 15px;
}

.addToCart {
  color: indigo;;
  border-radius: 10px;
  border: 1px solid indigo;
  font-size: 10px;
}
.addToCart:hover {
  background-color: indigo;
  color: white;
}
.card-icon {
  font-size: x-small;
  padding-right: 4px;;
}

.cart {
  font-size: larger;
}

.offcanvas-body {
  margin-top: 0;
  padding: 25px;
}
.shoppingCartTitle {
  color: indigo;
  padding-bottom: 20px;
  font-weight: 300;
}
.offcanvas-header {
  padding: 30px;
}
.articleCoverPageImage {
  height: 100px;
}
.shoppingCartArticleTitle {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.articleDetailPrice {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
.offcanvas-title {
  color: indigo;
  font-family: Arial, Helvetica, sans-serif;
}

.delete-icon {
  font-size: smaller;
}
.delete {
  border-radius: 20px;
  color: black;
}
.delete:hover{
  background-color: lightgray;
}

 
.imageBorder {
  border: 2px solid black;
}

.shoppingCartItems {
  margin-bottom: 50px;
  border-right:3px solid black;
  height: 100px;
}

.addMoreArticles {
  width: 100%;
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid indigo;
  font-family: 'Times New Roman', Times, serif;
}
.addMoreArticles:hover {
  background-color: indigo;
  color: white;
}

.totalItemsCart {
  border: 1px solid lightgray;
  padding: 13px;
} 
.emptyCard {
  border: 1px solid lightgray;
  padding: 13px;
  font-weight: 400;
}
.articleTotal {
  font-weight: bold;
}
.moreArticles {
  margin-top: 10px;
}

.buy {
  margin-top: 20px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  padding: 10px;
  font-size: small;
  color: white;
  margin-bottom: 10px;
  background-color: indigo;
}
.buy:hover {
  color: #fff;
}
.btn-close {
  font-size: x-small;
}
.createAccount1 {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
.text-danger {
  font-size: small;
}
.modal-content {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

#payment {
  width: 100%;
  border-radius: 13px;
  padding-left: 13px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: indigo;
}

.paymentForm {
  margin-left: 20px;
  margin-right: 20px;
}

.accountNumber {
  font-size: medium;
}

.canvasFooter {
  margin: 30px;

}
.totalItemsCart {
  border: 1px solid lightgray;
  padding: 13px;
} 

.cardPayment{
  border: 1px solid lightgray;
  padding: 13px;
  margin: 20px;
}

.required {
  color: red;
  padding-left: 3px;
}

.details {
  margin-top: 20px;
}
 
@media screen and (max-width: 500px){
  .shoppingCartArticleTitle {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  }
  .articleDetailPrice {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 0px;
    margin: 0;
  }

  .shoppingCartItems {
    margin-bottom: 140px;
    height: 50%;
  }

  .articleCoverPageImage {
    height: 150px;
  }
  .canvasFooter {
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .paymentForm {
    margin-left: 8px;
    margin-right:8px;
  }

  .cardPayment{
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right:5px;
  }

  .btn-close {
    font-size: small;
  }

  .details {
    margin-top: 0px;
  }
   
}
