.bg
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url('/../../../assets/com.jpg');
  height: 550px;
  margin-top: 55px;
}

.color{
  background-color: lavender;
}

.size
{
 width: 350px;
  border-radius: 15px;
  padding: 3px;
}



.footer
{
  padding: 10px;
  padding-left: 20px;
  background-color: rgba(0, 0,0,0.8);
  color: white;
}
.about
{
  margin-top: 100px;
}
.foot
{
  text-align: center;
  background-color: black;
  padding: 10px;
}
.p
{
  color: white;
}
.blog
{
  color: crimson;
}
.us{
  text-align: center;
}
.input-size
{
  height: 39px;
}
.btn-outline-primary
{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-bottom: 5px;
}
.auth
{
  padding: 10px;
}
.card
{
    box-shadow: 0 1px 2px rgba(0,0,0,0.06),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07),
    0 32px 64px rgba(0,0,0,0.07);
    cursor: pointer;
}
img {
  height: 25vh;
}
a{
  color:black;
  text-decoration: none;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: indigo;
}


.group
{
  cursor: pointer;
}

.categories {
  text-align: center;
}
.articles {
  font-family: Arial, Helvetica, sans-serif;
}

li.borderless {
  border: 0 none;
}

.borderless:hover {
  background-color: lightgrey;
  cursor: pointer;
  font-weight: lighter;
  padding: 6px;
  margin:0;
}
.title {
  font-weight: bolder;
  font-size: 15px;

}
.title:hover {
  color: indigo;
}
.date {
  font-size: 13px;
}

.pagination {
  padding: 3px;
 
}

