.bg
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url('/../../../assets/com.jpg');
  height: 550px;
  margin-top: 55px;
}
.color
{
  background-color: lavender;
}

.color{
  background-color: lavender;
}

.size
{
 width: 350px;
  border-radius: 20px;
  padding-left: 10px;

}



.footer
{
  padding: 10px;
  padding-left: 20px;
  background-color: rgba(0, 0,0,0.8);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 40vh;
  margin-bottom: 0;
  
  
}
.footer-row {
  margin-top: 40px;
}
.foot {
  font-family: Arial, Helvetica, sans-serif;
}
.about
{
  margin-top: 100px;
}
.foot
{
  text-align: center;
  background-color: black;
  padding: 10px;
}
.p
{
  color: white;
}
.blog
{
  color: crimson;
}
.us{
  text-align: center;
}
.input-size
{
  height: 39px;
}
.btn-outline-primary
{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-bottom: 5px;
}
section
{
  margin-top: 30px;
  margin-bottom: 60px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.06),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
}
 
.article-card
{
    box-shadow: 0 1px 2px rgba(0,0,0,0.06),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07),
    0 32px 64px rgba(0,0,0,0.07);
    cursor: pointer;
    width: 100%;
   
}
.category-card {
  box-shadow: 0 1px 2px rgba(0,0,0,0.06),
  0 2px 4px rgba(0,0,0,0.07),
  0 4px 8px rgba(0,0,0,0.07),
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07),
  0 32px 64px rgba(0,0,0,0.07);
  cursor: pointer;
  width: 100%;
  font-weight: lighter;
  
}

 .avatar {
   box-shadow: 20;
 }

h6 {
  font-weight: bolder;
  padding-top: 7px;
}
.authors {
  position: relative;
  height: 65vh;
}
.popular-authors {
  padding-top: 15px;
}
.authors-name {
  margin-top: 55px;
  font-family: Arial, Helvetica, sans-serif;
}
.card-img-top {
 height: 25vh;
}
.notFoundArticles {
  text-align: center;
  width: 400px;
  margin-top: 50px;
}
a{
  color:black;
  text-decoration: none;
}

h2 {
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: black;
}


.group
{
  cursor: pointer;
}

.categories {
  text-align: center;
}
.articles {
  font-family: Arial, Helvetica, sans-serif;
   
  padding: 10px;
}
.card {
  padding: 10;
}

.dropdown {
  cursor: pointer;
}


 
.list-group-item {
  border: none;
  padding: 5px;
}

.list-group-mine .list-group-item.active {
  background-color: rgb(125, 4, 211);
  color: white;
  
}
.list-group-mine .list-group-item:hover {
  background-color: rgb(212, 209, 209);
}
 

.title {
  font-weight: bolder;
  font-size: 15px;

}
.title:hover {
  color: indigo;
}
.date {
  font-size: 13px;
}

.pagination {
  padding: 3px;

} 

.publish {
  border-radius: 20px;
}
.publish:hover {
  color: white;

}
.footer a{
  color: white;
}
.image{
  border-radius: 400rem;
  width: 3.5rem;
  height: 3.5rem;
  
}

.whatsapp {
  padding-left: 10px;
}
.instagram {
  padding-left: 10px;
}

.twitter {
  padding-left: 10px;
}

.linkedIn {
  padding-left: 10px;
}

.quick-links {
  font-size: small;
  cursor: pointer;
}
.viewArticles {
  border-radius: 30px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.viewArticles:hover {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.welcome {
  text-shadow: 2px 1px white;
  color: indigo;
}
.blogSiteSpan {
  padding-left: 7px;
}
 