<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog site</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=" ">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">About</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item boder">
          <input type="text" class="size" placeholder=" search articles...">
          <button class="button"><i class="fa fa-search fa-1x "></i></button>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="/signup"><button class="btn btn-outline-primary">SignUp</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/login" ><button class="btn btn-outline-info">Login</button></a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="row color">
  <div class="col-md-4 about">
    <div class="container">
    <br>
    <br>
    <br>
      <br>
    <h2>Welcome to <span style="color: blue"> Blog site</span></h2>
    <span>Publish your articles and books to the world.</span>
    <br>
    <span>View all kinds  of articles or books. We have it all installed for you.</span>
      <br>
      <br>
    <hr>
      <button class=" btn btn-outline-primary">View articles</button>
  </div>
  </div>
  <div class="col-md-8"> <div class="bg"></div>

</div>

</div>

  <div class="row">
    <div class="col-md-2">
      <br>
      <div class="card">
        <div class="card-header" style="background-color: darkblue; color: white">
          Our Categories
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
      <br>
    </div>
    <div class="col-md-9 ">
      <br>
      <div class="row ">
        <h4>Popular articles</h4>

          <div class="col-md-6 d-flex">
            <a href="/articles-detail">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/blog.JPG"  class="img-fluid rounded-start h-100" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Book title</h5>
                  <span class="card-text form-text">Category: education</span>
                  <p>Author(s): Chi Mah</p>
                </div>
              </div>
            </div>
          </div>
            </a>
        </div>
        <div class="col-md-6 d-flex">
            <a href="/articles-detail">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="assets/blog.JPG"  class="img-fluid rounded-start h-100" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Book title</h5>
                    <span class="card-text form-text">Category: education</span>
                    <p>Author(s): Chi Mah</p>
                  </div>
                </div>
              </div>
            </div>
            </a>
          </div>

      </div>
      <div class="row ">
        <div class="col-md-6 d-flex">
          <div class="card mb-3" style="max-width: 540px; ">
            <div class="row g-0">
              <div class="col-md-4 ">
                <img src="assets/blog.JPG"  class="img-fluid rounded-start h-100"  alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Book title</h5>
                  <span class="card-text form-text">Category: education yufvhfg tfufjfy ilgiuklij</span>
                  <p>Author(s): Chi Mah</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 d-flex">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/blog.JPG"  class="img-fluid rounded-start h-100" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Book title</h5>
                  <span class="card-text form-text">Category: education</span>
                  <p>Author(s): Chi Mah</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-6 d-flex">
          <div class="card mb-3" style="max-width: 540px; ">
            <div class="row g-0">
              <div class="col-md-4 ">
                <img src="assets/blog.JPG"  class="img-fluid rounded-start h-100"  alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Book title</h5>
                  <span class="card-text form-text">Category: education </span>
                  <p>Author(s): Chi Mah, Chi Claudette</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 d-flex">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/blog.JPG"  class="img-fluid rounded-start h-100" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Book title</h5>
                  <span class="card-text form-text">Category: education</span>
                  <p>Author(s): Chi Mah</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<br>
<div class="container">
  <h3 class="text-center mt-5 mb-5">
    All articles and books
  </h3>
    <div class="row" >

      <div class="col-md-4 card-group"
           style="margin-top: 30px"
           *ngFor="let num of nums | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index" [class.active]="i ">
        <div class="card" style="width: 18rem;">
          <img src="assets/com.jpg " class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          {{num}}
        </div>
      </div>
    </div>


<br>
  <div class="d-flex justify-content-center">
    <pagination-controls

      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>

</div>

<br>
<div class="auth" >
  <h5>Our Authors</h5>
  <div class="row">
    <div class="col-md-3">
      <div class="card" >

            <div class="card-body">
              <div><h6>Author name</h6></div>
              <span class="card-text form-text">email@gmail.com</span>
            </div>
        </div>
      </div>
    <div class="col-md-3">
      <div class="card" >

        <div class="card-body">
          <h6>Author name</h6>
          <span class="card-text form-text">email@gmail.com</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" >
        <div class="card-body">
          <h6>Author name</h6>
          <span class="card-text form-text">email@gmail.com</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" >
        <div class="card-body">
          <h6>Author name</h6>
          <span class="card-text form-text">email@gmail.com</span>
        </div>
      </div>
    </div>
    </div>

</div>
<br>


<div class="footer ">
    <div class="row">
      <div class="col-md-3">
        <h5>Quick links</h5>
        <a>View categories</a>
        <br>
        <a>View articles</a>
        <br>
        <a>Our authors</a>
        <br>
        <a>Signup</a>
      </div>
      <div class="col-md-3">
        <h5>Contact us</h5>
        <span>Whatsapp</span>
        <br>
        <span>Instagram</span>
        <br>
        <span>Twitter</span>
        <br>
        <span>LinkedIn</span>
        <br>
      </div>
      <div class="col-md-3">
        <span >About us</span>
        <p>FAQ</p>
      </div>
      <div class="col-md-3">
        <p>Terms</p>
        <p>Privacy</p>
        <h5>Subscribe to our newsletter</h5>
        <input placeholder=" enter email..." class="input-size" ><button class="btn btn-outline-primary">Subscribe</button>
      </div>

    </div>


</div>
<div class="foot">
  <p class="p">Copyright @2022 All rights reserved. <span class="blog">Blog site</span></p>
</div>



