h5 ,label{
  font-family: 'Times New Roman', Times, serif;
}

.coverPage {
  margin-top: 5rem;

}


img {
  border: 1px solid #ddd;
  padding: 7px;
  height:350px;

}

.follow {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: medium;
}
.contributors {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: medium;
}

.author-details {
  font-family: 'Times New Roman', Times, serif;
  font-size:15px;

}
.contributor-details {
  font-family: 'Times New Roman', Times, serif;
  font-size:15px;
}
.author-email {
  color: black;
}

.label {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: large;
}
p {
  font-weight:lighter;
  color: black;
  font-size: medium;
}

label {
  font-size: medium;
  color: black;
}

.price {
  width: 160px;
  border: 1px solid gray;
  padding: 1px;
  text-align: center;
  font-size: medium;
  border-radius: 5px;
}
.pdf {
  font-size: small;
}

.articleAbstract {
  color: black;
  font-weight:normal;
  font-family: Arial, Helvetica, sans-serif;
}
.articleToc {
  color: black;
  font-weight:normal;
  font-family: Arial, Helvetica, sans-serif;
}

.readmore {
  color: black;
  cursor: pointer;
}
.readmore:hover {
  color: indigo;
  cursor: pointer;
}


.buy-card {
  height: 40%;
  max-height:40%;
  border-radius: 20px;
}

.purchase {
  padding-left: 10px;
  padding-top: 10px;
  color: black;
}
.text-muted {
  padding-left: 10px;
}

.card-title {
  text-align: center;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.abstract {
  font-style: italic;
  padding: 5px;
  font-weight: lighter;
  font-size: small;
}

.buy {
  margin-top: 10px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
}
.buy:hover {
  color: #fff;
}

.regLabel {
  color: black;
}
.modal-content {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;

}

.account {
  padding: 3px;
  margin-left: 12px;
  margin-right: 12px;
}
#payment {
  width: 100%;
  border-radius: 13px;
  padding: 4px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
#payment1 {
  width: 100%;
  border-radius: 13px;
  padding: 4px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.close {
  font-size: xx-small;
  font-weight: bolder;

}
.required {
  color: red;
}

.createAccount {
  font-weight: bolder;
  padding-left: 14px;
}

.text-danger {
  font-size: small;
}
.createAccount1 {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: blue;
}
a:link {
  text-decoration: none;
}
