 
.size
{
  width: 350px;
  border-radius: 15px;
   
}

 .card-main
 {

   box-shadow: 0 1px 2px rgba(0,0,0,0.07),
   0 2px 4px rgba(0,0,0,0.07),
   0 4px 8px rgba(0,0,0,0.07),
   0 8px 16px rgba(0,0,0,0.07),
   0 16px 32px rgba(0,0,0,0.07),
   0 32px 64px rgba(0,0,0,0.07);
 }
 

h5 ,label{
  font-family: 'Times New Roman', Times, serif;
}

.coverPage {
  margin-top: 5rem;
  
}
 

img {
  border: 1px solid #ddd;
 
  padding: 7px;
  cursor: pointer;
  
}
 
.label1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.label {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: x-large;
}
p {
  font-weight:lighter;
  color: blue;
  font-size: medium;
}

label {
  cursor: pointer;
  font-size: medium;
  color: blue;
}

.price {
  width: 160px;
  border: 1px solid gray;
  padding: 1px;
  text-align: center;
  font-size: medium;
  border-radius: 5px;
}
.pdf {
  font-size: small;
}

.articleAbstract {
  color: black;
  font-weight:normal;
  font-family: Arial, Helvetica, sans-serif;
}

.readmore {
  color: blue;
  cursor: pointer;
}
.readmore:hover {
  color: orange;
  cursor: pointer;
}


.card {
  width: 100%;
  height: 30%;
}

.purchase {
  padding-left: 10px;
  padding-top: 10px;
  color: black;
}
.text-muted {
 padding-left: 10px;
}

.card-title {
  text-align: center;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.abstract {
  font-style: italic;
  padding: 5px;
  font-weight: lighter;
  font-size: small;
}

.buy {
  margin-top: 20px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
}

.regLabel {
  color: black;
}
.modal-content {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
   
}

.account {
 padding: 3px;
 margin-left: 12px;
 margin-right: 12px;
}
#payment {
  width: 100%;
  border-radius: 13px;
  padding: 4px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.close {
  font-size: xx-small;
  font-weight: bolder;
  
}
.required {
  color: red;
}

.createAccount {
  font-weight: bolder;
  padding-left: 14px;
}

.text-danger {
  font-size: small;
}
 .createAccount1 {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
 }

 a {
   text-decoration: none;
   color: blue;
 }
 a:link {
   text-decoration: none;
 }