<app-navbar></app-navbar>


<div class="container-fluid mt-5">
  <div class="row coverPage">
    <div class="col-3 mt-lg-4">
      <div class="image">
        <img src="{{article?.coverPage}}" alt="article coverPage image" (click)="getDocument()" height="350px" width="250px" />
      </div>
      <hr>
      <div>
        <h5 class="label1">Follow the Author</h5>
        <h6 class="label1"><label router-link="/user-profile">{{publisher?.name}}</label></h6>
        <h6 class="label1"><label>{{publisher?.email}}</label></h6>
      </div>
    </div>
    <div class="col-md-7 mt-lg-4">
      <h6 class="label">{{article?.title}} <br>
        <p router-link="/user-profile">By {{publisher?.name}} | <span>Category: {{article?.categoryName}}</span>  
        </p>
      </h6>
      <hr>
      <div class="price">
        <small class="pdf">Document(PDF format)</small><br>
        CFA {{article?.price}}
      </div>
      <div class="mt-4 ">
        <p class="articleAbstract" *ngIf="!showAbs"><span class="abstract text-muted">Abstract :
          </span>{{article?.articleAbstract | truncateText }} <br>
          <small class="readmore" (click)="showAbstract()"> <i class="fas fa-angle-down"></i> Read more</small>
        </p>
        <p class="articleAbstract" *ngIf="showAbs"><span class="abstract text-muted">Abstract :
          </span>{{article?.articleAbstract}} <br>
          <small class="readmore" (click)="showAbstract()"> <i class="fas fa-angle-up"></i> Show less</small>
        </p>
      </div>

      <div class="mt-3">
        <div class="articleAbstract" *ngIf="!showTable"><span class="abstract text-muted">Table of Content : </span>
          <p class="articleAbstract"> {{article?.toc | truncateText}} <br>
            <small class="readmore" (click)="showContent()"> <i class="fas fa-angle-down"></i> Read more</small>
          </p>
        </div>
        <p class="articleAbstract" *ngIf="showTable"><span class="abstract text-muted">Table of Content :
          </span>{{article?.toc}} <br>
          <small class="readmore" (click)="showContent()"> <i class="fas fa-angle-up"></i> Show less</small>
        </p>
      </div>
      <hr>
    </div>
    <div class="col-md-2 mt-lg-4 d-flex justify-content-center">
      <div class="card shadow-sm">
        <div class="card-body">
          <h6 class="card-title">Read Full Article</h6>
          <label class="card-text"> </label>
          <label class="card-text"><small class="text-muted">Price: </small> <span class="purchase">CFA
              {{article?.price}}</span></label>
          <label class="card-text"><small class="text-muted">Format: </small> <span class="purchase">PDF</span></label>
          <div>
            <button type="button" class="btn btn-primary buy" (click)="requestText()">Buy with 1-click  </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- payment form -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-end">
        <h6><button type="button" class="btn-close btn-sm text-dark close" data-bs-dismiss="modal"
          aria-label="Close"></button></h6>
      </div>
      <div>
        <h6 class="createAccount1 mt-2" id="exampleModalLabel">Enter Account Number to make Payment</h6>
      </div>
      <form [formGroup]="paymentForm" (ngSubmit)="submitPayment()">
        <div class="modal-body">
          <div class="form-group">
            <label class="mb-1 text-black">Account Number:</label>
            <input type="tel" formControlName="accountNumber" class="form-control" required />
            <span class="text-danger" *ngIf="(paymentFormControl.accountNumber.touched) && paymentFormControl.accountNumber.errors" >
              
              <div *ngIf="paymentFormControl.accountNumber.errors?.required"> Account Number is required</div>
              <div *ngIf="paymentFormControl.accountNumber.errors?.pattern"> Account Number must be 9 digit</div>
            </span>
          </div>
        </div>
        <div class=" mt-1 account">
          <button type="submit" id="payment"   [disabled]="!paymentForm.valid" class="btn btn-primary text-white btn-sm"
            data-bs-dismiss="modal">Make Payment</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal for users with no account-->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="d-flex justify-content-between">
        <h5 class="createAccount">Create Account</h5>
        <h6><button type="button" class="btn-close btn-sm text-dark close" data-bs-dismiss="modal"
            aria-label="Close"></button></h6>
      </div>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-items">
        <div class="modal-body">
          <div class="form-group ">
            <label class="regLabel">Name</label>
            <input type="text" formControlName="name" class="form-control" required />
            <span class="text-danger" *ngIf="(registerFormControl.name.touched || submitted) && registerFormControl.name.errors?.required" >
              Name is required
            </span>
          </div>
          <div class="form-group mt-2">
            <label class="regLabel">Email</label>
            <input type="email" formControlName="email" class="form-control" required />
            <span class="text-danger"
              *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
              Email is required
            </span>
            <span class="text-danger"
              *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
              Invalid email address
            </span>
          </div>
          <div class="form-group mt-2">
            <label class="regLabel"> Password</label>
            <input type="password" formControlName="password" class="form-control" required />
            <span class="text-danger" *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors">
              <div *ngIf="registerFormControl.password.errors?.required">Password is required</div>
              <div *ngIf="registerFormControl.password.errors?.minlength">
                Password must be at least 8 characters
              </div>
               
            </span>
          </div>
        </div>
        <div class=" mt-1 account">
          <button type="submit" id="payment" [disabled]="!signupForm.valid" class="btn btn-primary text-white btn-sm"
            data-bs-dismiss="modal">Create
            Account</button>
        </div>
      </form>
    </div>
  </div>
</div>
