<div class="row d">
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-5">
    <app-status></app-status>
  </div>
</div>

<div class="container">
  <div class="col-md-9">

    <div class="row">
      <div class="col-md-3">
        <b>Publishers </b>
      </div>

      <div class="col-md-3">
        <b>Number of Articles</b>
      </div>

      <div class="col-md-3 em">
        <b>Email</b>
      </div>

      <div class="col-md-2">
        <b>Action</b>
      </div>
    </div>

    <div  *ngFor="let publisher of publishers" class="table">
      <div class="row">
        <div class="col-md-3">
          <a>{{ publisher.name}}</a><br>
        </div>

        <div class="col-md-3 art">
          <a>One</a><br>
        </div>

        <div class="col-md-2">
          <a>{{ publisher.email }}</a><br>
        </div>

        <div class="col-md-3">
          <tr><button class="btn btn-dark but">Suspend</button>&nbsp;&nbsp;
            <button class="btn btn-danger"><i class="far fa-ban icon"></i> Block</button></tr>
        </div>
      </div>
    </div>
<br>

  </div>
</div>
