.but{
  background-color: indigo;
}
.table {
  background-color: white;
  border-radius: 30px;
  text-align: center;
}
th td tr{
  border-radius: 30px;
}
tr{
  background-color: #eaeaea;
}
th
{
  text-align: center;
  background-color: white;
}
td{
  text-align: center;
  padding: 20px;
}

button {
  width: 80px;
  padding: 2px;
}

@media (max-width: 600px) {
  body {
    .table {
      background-color: white;
      border-radius: 30px;
      text-align: center;
    }

    th td tr{
      border-radius: 30px;
    }
    tr{
      background-color: #eaeaea;
    }
    th
    {
      text-align: center;
      background-color: white;
    }
    td{
      text-align: center;
      padding: 20px;
    }
  }
}

@media (max-width: 550px) {
  .table {
    margin-left: 40px;
  }
}

  button {
    padding: 2px;
    font-size: smaller;
  }



