<div class="row">
  <div class="col-md-2 " >
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-md-10" >
    <br>
    <div style="text-align: right">
      <app-status></app-status>
    </div>

  <div class="col-md-10">
    <!-- View reason Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true" *ngIf="pub">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel2" style="color:indigo;">Publisher's reason</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>{{pub.reason}}</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <h5 *ngIf="!publishers.length" class="form-text">Oops!! No publishers are available yet.</h5>
    <table class="table table-borderless table-responsive" *ngIf="publishers.length" >
      <thead>
      <tr>
        <th scope="col"><b>{{'PublisherAdmin.Publisher'| translate }} ({{number}})</b></th>
        <th scope="col">{{'PublisherAdmin.Email'| translate }}</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody *ngFor="let publisher of publishers | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                }">
      <br>
      <tr >
        <td>{{ publisher.name }}</td>
        <td>{{ publisher.email }}</td>
        <td>

          <i (click)="view(publisher)" class="fas fa-info" data-bs-toggle="modal" data-bs-target="#exampleModal2" title="View reason" style="color: indigo; cursor: pointer" ></i>&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" (click)="getPublisherId(publisher.id)"
                  *ngIf="publisher.active"
                  data-bs-target="#exampleModal">
            {{'UserAdmin.Suspend'| translate }}
          </button>
          <button type="button" class="btn btn-success" *ngIf="!publisher.active" (click)="getPublisherId(publisher.id)"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal1">
            {{'UserAdmin.Reactivate'| translate }}
          </button>

      </tr>
      </tbody>
    </table>
      <!--        modal for suspend-->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Suspend</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to suspend user?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger " (click)="supend()">Yes</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>


      <!--         modal for reactivate-->
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel1">Reactivate</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to reactivate the user?
            </div>
            <div class="modal-footer">
              <button type="button" (click)="reactivatePub()" class="btn btn-success">Yes</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>


    <pagination-controls
      *ngIf="publishers.length"
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>


    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
      <p style="color: white">Please Wait.</p>
    </ngx-spinner>

<br>
  </div>
  </div>
</div>
