
button {
 box-shadow: 1px 2px 3px;
  font-size: 12px;
  border-radius: 5px;
  width: 80px;
}

.but{
  background-color: indigo;
}

td
{
  padding: 18px;
  text-align: center;

}
th {
  padding: 18px;
  background-color: white;
  text-align: center;
}
 tr{
   border: 2px solid gainsboro;
   background-color: gainsboro;
   border-radius: 20px;
}
.table{
 background-color: white;

}
.t{
  border:0px;
}


