

.col-md-9{
  margin-left: 100px;
}

.table {
  margin-top: 50px;
  height: 70px;
  background-color: #eaeaea;
  border-radius: 7px;
  padding-top: 20px;
}

button {
  padding: 2px;
  font-size: smaller;
}

.col-md-4 {
  margin-left: 20px;
}

.but {
  background-color: indigo;
}

.art {
  margin-left: 30px;
}

.em {
  margin-left: 70px;
}

.ema {
  margin-left: 41px;
}

