<div class="row d">
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-5">
    <app-status></app-status>
  </div>
</div>

<div class="container">
  <div class="col-md-9">

    <div class="row">
      <div class="col-md-3">
        <b>Publishers </b>
      </div>

      <div class="col-md-3">
        <b>Number of Articles</b>
      </div>

      <div class="col-md-3 em">
        <b>Email</b>
      </div>

      <div class="col-md-2">
        <b>Action</b>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-md-3">
          <a>User one</a><br>
        </div>

        <div class="col-md-3 art">
          <a>One</a><br>
        </div>

        <div class="col-md-2">
          <a>Email one</a><br>
        </div>

        <div class="col-md-3">
          <tr><button class="btn btn-dark but">Suspend</button>&nbsp;&nbsp;
            <button class="btn btn-danger"><i class="far fa-ban icon"></i> Block</button></tr>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-md-3">
          <a>User two</a><br>
        </div>

        <div class="col-md-3 art">
          <a>Two</a><br>
        </div>

        <div class="col-md-2">
          <a>Email two</a><br>
        </div>

        <div class="col-md-3">
          <tr><button class="btn btn-dark but">Suspend</button>&nbsp;&nbsp;
            <button class="btn btn-danger"><i class="far fa-ban icon"></i> Block</button></tr>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-md-3">
          <a>User one</a><br>
        </div>

        <div class="col-md-3 art">
          <a>One</a><br>
        </div>

        <div class="col-md-2">
          <a>Email one</a><br>
        </div>

        <div class="col-md-3">
          <tr><button  (click) = "onClickSuspend()" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-dark but">Suspend</button>&nbsp;&nbsp;
            <button  (click) = "onClickBlock()" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-danger"><i class="far fa-ban icon"></i> Block</button></tr>
        </div>
      </div>
    </div><br>

  </div>
</div>


<!-- Modal to block and suspend publisher -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><span *ngIf="isBlocked">Block</span> <span *ngIf="isSuspended">Suspend</span> "User Name"</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to <span *ngIf="isBlocked">block</span> <span *ngIf="isSuspended">suspend</span> this user?
      </div>
      <div class="modal-footer">
        <!--Block publisher-->
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <button *ngIf="isBlocked" type="button" class="btn btn-danger">Block</button>
        <!--suspend publisher-->
        <button *ngIf="isSuspended" type="button" class="btn btn-danger">Suspend</button>
      </div>
    </div>
  </div>
</div>

