<div class="row">
  <div class="col-md-2 " >
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-md-10" >
    <br>
    <div style="text-align: right">
      <app-status></app-status>
    </div>

    <div class="col-md-10">
      <table class="table table-borderless table-responsive" >
        <thead>
        <tr>
          <th scope="col"><b>{{'UserManagement.User'| translate }} ({{number}})</b></th>
          <th scope="col">{{'UserManagement.Email'| translate }}</th>
          <th scope="col-md-2">{{'UserManagement.Role1'| translate }}</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let user of allUsers">
        <br>
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <div class="dropdown" >
              <i class="fas fa-id-badge mt-3 role" data-bs-toggle="dropdown"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li *ngFor="let roles of user.role"><a class="dropdown-item" href="#">{{roles.role}}</a></li>
            </ul>
          </div>
      <td>

        <div class="dropdown" style="display: inline-flex">
          <button class="btn btn-dark but " type="button" id="dropdownMenuButton1" (click)="getUserRoles(user.id)" data-bs-toggle="dropdown">{{'UserManagement.Role'| translate }}</button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" ><b>{{'UserManagement.Upgrade'| translate }}</b></a></li>

            <select class="form-select mt-1" (change)="addRoleToUser(user.id, $event)">
              <option selected><b>{{'UserManagement.Role'| translate }}</b></option>
              <option *ngFor="let rol of addRoles" value="{{rol}}">{{rol}}</option>
            </select>
            <li><a class="dropdown-item" ><b>{{'UserManagement.Remove'| translate }}</b></a></li>
            <select class="form-select mt-1" (change)="removeRoleToUser(user.id, $event)">
              <option selected><b>{{'UserManagement.Role'| translate }}</b></option>
              <option *ngFor="let roles of user.role" value="{{roles.role}}">{{roles.role}}</option>
            </select>
          </ul>
        </div>
        </td>

    </tr>
    </tbody>
  </table>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait.</p>
</ngx-spinner>

<!--        <div class="dropdown" style="display: inline-flex">-->
<!--          <button class="btn btn-dark but " type="button" id="dropdownMenuButton1" (click)="getUserRoles(user.id)" data-bs-toggle="dropdown">{{'UserManagement.Role'| translate }}</button>-->
<!--          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
<!--              <li *ngFor="let roles of user2"><a class="dropdown-item">{{roles}} &nbsp; &nbsp;-->
<!--                <i [ngClass]="{fa_plus: enableRole !== roles}" (click)="addRoleToUser(user.id, roles)" style="color: blue; cursor: pointer" class="fas fa-plus"></i>-->
<!--                 &nbsp; &nbsp;-->
<!--                <i (click)="removeRoleToUser(user.id, roles)" style="color: red; cursor: pointer" class="fas fa-minus"></i></a>-->
<!--              </li>-->
<!--          </ul>-->
<!--          </div>-->
