.but{
  background-color: indigo;
}
.table {
  background-color: white;
  border-radius: 30px;
  text-align: center;
}
th td tr{
  border-radius: 30px;
}
tr{
  background-color: #eaeaea;
}
th
{
  text-align: center;
  background-color: white;
}
td{
  text-align: center;
  padding: 20px;
}

button {
  width: 90px;
  padding: 2px;
}

@media (max-width: 600px) {
  body {
    .table {
      background-color: white;
      border-radius: 30px;
      text-align: center;
    }

    th td tr{
      border-radius: 30px;
    }
    tr{
      background-color: #eaeaea;
    }
    th
    {
      text-align: center;
      background-color: white;
    }
    td{
      text-align: center;
      padding: 20px;
    }
  }
}

@media (max-width: 550px) {
  .table {
    margin-left: 40px;
  }
}

button {
  padding: 2px;
  font-size: smaller;
}

@media (max-width: 1000px) {
  .table {
    margin-right: 150px;
  }
}

@media (max-width: 750px) {
  .table {
    position: center;
    width: 50px;
    height: 50px;
    margin-left: 100px;
  }
}

.role {
  font-size: 20px;
  cursor: pointer;
  color: #4b0082;
}
