<div class="col-md-12">

  <div class="col-md-2">
    <div class="row">
      <a routerLink="/landing-page" class="mb-4 mt-5"><i class="fas fa-home icon"></i><br> {{ 'sidebar.Home' | translate }}</a>
      <a *ngIf = "adminRole" routerLink="/requests" routerLinkActive="active" class="mb-4"><i class="fas fa-exclamation-circle icon"></i><br>{{ 'sidebar.Requests' | translate }}</a>
      <a *ngIf = "adminRole" routerLink="/publisher-admin" routerLinkActive="active" class="mb-4"><i class="fas fa-user-circle icon"></i><br>{{ 'sidebar.Publishers' | translate }}</a>
      <a *ngIf = "adminRole" routerLink="/user-admin" routerLinkActive="active" class="mb-4"> <i class="fas fa-user-plus icon"></i><br>{{ 'sidebar.Readers' | translate }}</a>
      <a *ngIf = "publisherRole" routerLink="/your-articles" routerLinkActive="active" class="mb-4"><i class="fas fa-scroll icon"></i><br> {{ 'sidebar.Article' | translate }}</a>
      <a *ngIf = "publisherRole" routerLink="/publish-article" routerLinkActive="active" class="mb-4"><i class="fas fa-newspaper icon"></i><br>{{ 'sidebar.Publish' | translate }}</a>
      <a routerLink="/users-article" routerLinkActive="active" class="mb-4"><i class="fas fa-book-reader icon"></i><br> {{ 'sidebar.Paid' | translate }}</a>
      <a routerLink="/view-transactions" routerLinkActive="active" class="mb-4 "><i class="fas fa-exchange-alt icon"></i><br> {{ 'sidebar.Transactions' | translate }}</a>
<!--      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
      <a (click)="logOut()" class="mb-5 mt-5 fixed-bottom"><i class="fa fa-sign-out icon"></i><br>{{ 'sidebar.Logout' | translate }}</a>
    </div>
  </div>

<i class="fal fa-home-alt"></i>
</div>


