<div class="col-md-12">

  <div class="col-md-2"><br><br><br><br>
    <!--    <i class="fa fa-user icon" ></i><br>-->
    <!--    <a routerLink="/user-profile">My Profile</a><br><br><br>-->

    <div class="row">
      <a routerLink="/landing-page"><i class="fas fa-home icon"></i><br> Home</a>
    </div>
    <br><br><br>

    <div class="row">
      <a routerLink="/publisher-admin"><i class="fas fa-user-circle icon"></i><br> View Publishers</a>
      <br><br><br><br><br><br><br>

      <a routerLink="/user-admin"> <i class="fas fa-user-plus icon"></i><br>View User</a><br><br><br><br><br><br>

      <a routerLink="/requests" routerLinkActive="/requests"><i class="fas fa-exclamation-circle icon"></i><br>Requests</a><br><br><br><br>
      <br><br>
    </div>

    <div class="row">
      <a routerLink="/publish-article"><i class="fas fa-newspaper icon"></i><br>Publish Article</a><br><br><br><br><br>
      <br><br>

      <a routerLink="/your-articles"><i class="fas fa-scroll icon"></i><br> View my article</a><br><br><br><br><br>
      <br><br>

      <a routerLink="/users-article"><i class="fas fa-book-reader icon"></i><br> My paid article</a>
    </div>
    <br><br><br><br><br><br><br><br>

    <a routerLink="/landing-page" class="log" style="margin-left: 10px"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </div>
  <br><br>

</div>


<i class="fal fa-home-alt"></i>
