.col-md-2 {
  background-color: indigo;
  height: 100%;
  width: 50px;
  position: fixed;
  text-align: center;
  color: white;
  font-size: 7px;
  font-weight: lighter;
  padding-right: 5px;
}

// $col-md-2 (
//  background-color: $indigo-800;
// );

.icon {
  color: white;
  margin-left: 5px;
  font-size: 15px;
}

.col-md-12 {
  color: white;
}

img {
  border-right: 100px;
  width: 50px;
  height: 50px;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.log {
  font-size: 8px;
}

#logout-btn{
  background-color: indigo;
  color: white;
  border: 0;
}
