.but{
  background-color: indigo;

}
//.main{
//  margin-right: 200px;
//  margin-left: 200px;
//}

.table {
  background-color: white;
  border-radius: 30px;
 text-align: center;

}
th td tr{
  border-radius: 30px;
}
tr{
  background-color: #eaeaea;


}
th
{
  text-align: center;
 background-color: white;

}
td{
  text-align: center;
  padding: 20px;

}

button {

  font-size: smaller;
  width: 80px;
}
.edit{
  background-color: indigo;
}
a{
  text-decoration: none;
}


