<div class="row">
  <div class="col-md-2 ">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-md-10">
    <br>
    <div style="text-align: right">
      <app-status></app-status>
    </div>

    <div class="col-md-10">
      <h4>{{'YourArticles.Articles1'| translate }}</h4>
      <br>
      <h5 *ngIf="!pubArticles?.length" class="form-text">{{'YourArticles.NoArt'| translate }} <a
        routerLink="/publish-article">{{'YourArticles.Publish'| translate }} <i
        class="fas fa-arrow-circle-right"></i></a></h5>
      <table class="table table-borderless table-responsive"  *ngIf="pubArticles?.length">
        <thead>
        <tr>

          <th scope="col">{{'YourArticles.Articles'| translate }} ({{number}})</th>
          <th scope="col">{{'YourArticles.Category'| translate }}</th>
          <th scope="col">{{'YourArticles.Price'| translate }}</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let article of pubArticles| paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        ">
        <br>
        <tr >

          <td >{{article.title}}</td>
          <td>{{article.categoryName}}</td>
          <td>{{article.price}} frs</td>
          <td>
            <a title="view article" (click)="previewArticle(article.id, article.document)" class="fas fa-eye" id="preview"  style="color: indigo" ></a>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary edit" (click)="edit(article.id, article.categoryId)"><i
              class="fa fa-edit 2px"></i> {{'YourArticles.Edit'| translate }}</button>
          </td>

        </tr>
        </tbody>

      </table>
    </div>
    <pagination-controls
      *ngIf="pubArticles.length"
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait.</p>
</ngx-spinner>
  </div>
</div>

<br>


<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">View Article</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div id="app">-->
<!--          <iframe [src]="doc+'#toolbar=0' | safe" width="400" height="400" frameborder="0"></iframe>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
