.but{
  background-color: indigo;

}

.col-md-9{
  margin-left: 100px;
}

.table {
  margin-top: 20px;
  height: 70px;
  background-color: #eaeaea;
  border-radius: 7px;
  padding-top: 20px;
}

button {
  padding: 2px;
  font-size: smaller;
}


