<!--  <div class="col-md-3" >-->
<!--    <img src="" >-->
<!--  </div>-->
<div class="row d">
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-5">
    <app-status></app-status>
  </div>
</div>

<div class="container">
  <div class="col-md-9">

    <h4>My Articles</h4>
    <br>
    <div class="row" >
      <div class="col-md-4">
        <b>Books (03)</b>
      </div>

      <div class="col-md-4">
        <b>Contributors</b>
      </div>

      <div class="col-md-3">
        <b>Action</b>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-md-3" *ngFor="let article of pubArticles">
          <a>{{article.title}}</a><br>
        </div>

        <div class="col-md-4 art">
          <a>person 1, person 2 etc</a><br>
        </div>

        <div class="col-md-3">
          <tr><button class="btn btn-dark but"><i class="far fa-edit"></i> Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete </button>
          </tr>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-md-3">
          <a>Book two</a><br>
        </div>

        <div class="col-md-4 art">
          <a>person 1, person 2 etc</a><br>
        </div>

        <div class="col-md-3">
          <tr><button class="btn btn-dark but"><i class="far fa-edit"></i> Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete </button>
          </tr>
        </div>
      </div>
    </div>

    <div class="table">
      <div class="row">
        <div class="col-md-3">
          <a>Book three</a><br>
        </div>

        <div class="col-md-4 art">
          <a>person 1, person 2 etc</a><br>
        </div>

        <div class="col-md-3">
          <tr><button class="btn btn-dark but"><i class="far fa-edit"></i> Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete </button>
          </tr>
        </div>
      </div>
    </div><br>

  </div>
</div>


