<div class="col-md-12">

  <div class="col-md-2"><br><br>
<!--    <i class="fa fa-user icon" ></i><br>-->
<!--    <a routerLink="/user-profile">My Profile</a><br><br><br>-->

    <p ><i class="fas fa-home icon"></i><br> Home</p><br>

    <div class="row">
      <a routerLink="/publisher-admin"><i class="fas fa-user-circle icon"></i><br> View Publishers</a>
    <br><br><br><br><br>

      <a routerLink="/user-admin"> <i class="fas fa-user-plus icon"></i><br>View User</a><br><br><br><br>

      <a routerLink="/requests"><i class="fas fa-exclamation-circle icon"></i><br>Requests</a><br><br>
      <br><br>
    </div>

    <div class="row">
      <small><i class="fas fa-newspaper icon"></i><br>Publish Article</small><br><br><br>
    <br>

    <a routerLink="/your-articles"><i class="fas fa-scroll icon"></i><br> View your article</a>
    </div>
    <br><br><br><br><br><br><br><br><br>

    <i class="fa fa-sign-out-alt "></i>
    <small style="margin-left: 10px">Logout</small>
  </div><br><br>

</div>


<i class="fal fa-home-alt"></i>
