.col-md-2 {
  background-color: indigo;
  height: 700px;
  width: 70px;
  position: fixed;
  text-align: center;
  color: white;
  font-size: 11px;
}

  //$col-md-2 (
  //  background-color: $indigo-800;
  //);

.icon {
  color: white;
  margin-left: 10px;
  font-size: 20px;
}

  .col-md-12 {
    color: white;
  }

  img {
    border-right: 100px;
    width: 50px;
    height: 50px;
  }

  a {
    text-decoration: none;
    color: white;
  }


