<div class="col-md-12">
  <div class="col-md-2" style="background-color: #30035e; position: fixed; height: 700px; width:90px"><br><br><br>
    <i class="fal fa-home-alt" style="color: white; position: center"></i>
<!--    <button class="btn btn-primary">food</button>-->
    <i class="fa fa-user" style="color: white; position: center; margin-left: 40px"></i><br>
    <a routerLink="/user-profile" style="margin-left: 20px; margin-top: 50px">My Profile</a><br><br>

    <i class="fas fa-home" style="color: white; position: center; margin-left: 30px"></i>
    <p style="margin-left: 20px">Home</p>

    <i class="fas fa-newspaper" style="color: white; position: center; margin-left: 30px"></i><br>
    <small style="margin-left: 0px">Publish Article</small><br><br>

    <i class="fas fa-scroll" style="color: white; position: center; margin-left: 30px"></i><br>
    <a routerLink="/your-articles" style="margin-left: 10px">View your article</a>
    <br><br><br><br><br><br><br><br><br><br><br>

    <i class="fa fa-sign-out-alt"></i>
    <small style="margin-left: 10px">Logout</small>
  </div><br><br>


</div>
<i class="fal fa-home-alt"></i>
